{% extends "layout.html" %}
{% block content %}

<div class="content-section, update">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
      <legend class="border-bottom mb4">Update Entry</legend>
       <div class="form-group">
                    {{ form.ID.label(class="form-control-label") }}

                    {% if form.ID.errors %}
                        {{ form.ID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ID(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
 <legend class="border-bottom mb4">New Entry</legend>
      <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.MFD.label(class="form-control-label") }}
                    {% if form.MFD.errors %}
                        {{ form.MFD(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.MFD.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.MFD(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.EXP.label(class="form-control-label") }}
                    {% if form.EXP.errors %}
                        {{ form.EXP(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.EXP.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.EXP(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.units.label(class="form-control-label") }}
                    {% if form.units.errors %}
                        {{ form.units(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.units.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.units(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-check">
                    {{ form.moreThanOneEntry(class="form-check-input") }}
                    {{ form.moreThanOneEntry.label(class="form-check-label") }}
                </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>





  <table class='sortable table'>
     <thead class=thead-dark>
     <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">MFD</th>
        <th scope="col">EXP</th>
        <th scope="col">Number of units in stock</th>
        <th scope="col">Price</th>
     </tr>
     </thead>
     <tbody>
{%for row in rows%}
        <tr>
           <td >{{row.ID}}</td>
           <td>{{row.name}}</td>
           <td>{{row.MFD}}</td>
           <td>{{row.EXP}}</td>
           <td>{{row.units}}</td>
           <td>{{row.price}}</td>
        </tr>
     {% endfor %} 
    </tbody>
  </table>

{% endblock content %}