{% extends "layout.html" %}
{% block content %}

<div class="content-section add">
  <form method="POST" action="">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
      <legend class="border-bottom mb4">New Entry</legend>
      <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.MFD.label(class="form-control-label") }}
                    {% if form.MFD.errors %}
                        {{ form.MFD(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.MFD.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.MFD(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.EXP.label(class="form-control-label") }}
                    {% if form.EXP.errors %}
                        {{ form.EXP(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.EXP.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.EXP(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.units.label(class="form-control-label") }}
                    {% if form.units.errors %}
                        {{ form.units(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.units.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.units(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
      </div>
      <div class="form-check">
                    {{ form.moreThanOneEntry(class="form-check-input") }}
                    {{ form.moreThanOneEntry.label(class="form-check-label") }}
                </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
    </div>
  </form>
</div>



{%include'table.html'%}

{% endblock content %}