  <table class='sortable table'>
     <thead class=thead-dark>
     <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">MFD</th>
        <th scope="col">EXP</th>
        <th scope="col">Number of units in stock</th>
        <th scope="col">Price</th>
     </tr>
     </thead>
     <tbody>
{%for row in rows%}
        <tr>
           <td >{{row.ID}}</td>
           <td>{{row.name}}</td>
           <td>{{row.MFD}}</td>
           <td>{{row.EXP}}</td>
           <td>{{row.units}}</td>
           <td>{{row.price}}</td>
        </tr>
     {% endfor %} 
    </tbody>
  </table>